/* Add these styles to your existing Navbar.css file */

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Resetting default styles and setting box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: Outfit;  
  scroll-behavior: smooth;  
}

/* Setting global body styles */
body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; /* Applying Google Font */
  text-decoration: none;
  color: inherit;
}

/* Styling the .app class */
.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {

  0% {

    opacity: 0; 

  }  

  100% {

    opacity: 1; 
  }
}